.border-button-container-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
}

.border-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 35%;
}

.border-button {
  width: 100%;
  width: 100%;
  padding: 0.9rem 1.3rem;
  background: transparent;
  border: 2px solid;
  outline: none;
  border-color: var(--border);
  border-radius: 15px;
}

.border-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}