.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; /* or 100dvh for better mobile browser support */
  z-index: -1;
  background: radial-gradient(at top center, var(--color-accent), var(--color-accent-deeper) 30%, var(--color-accent-deepest) 80%);
}

.page-margins {  
  --page-padding-block: 3rem;
  max-width: 1100px;
  margin: 0 auto;
  padding-block: var(--page-padding-block);
  padding-inline: 2rem;
  overflow: clip;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section > :first-child {
  margin-top: 0;
}

.section-link {
  margin-top: -1.25rem;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: var(--page-padding-block, 3rem);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  text-align: left;
  gap: 0.75rem;
  width: 100%;
  height: calc(100dvh - (var(--page-padding-block, 3rem) * 2));
}

@media (max-width: 1000px) {
  .sidebar {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    height: 0%;
    margin-bottom: 3rem;
  }
}

.sidebar h1 {
  font-family: 'DrukWideBold';
  color: var(--color-header);
  font-size: 4rem;
  line-height: 3.6rem;
}

.name-logo {
  display: block;
  width: min(100%, 270px);
  height: auto;
  margin-bottom: 0.75rem;
}

.sidebar h2 {
  font-size: 1.35rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.no-text-decoration {
  text-decoration: none !important;
  color: var(--color-text);
}

.no-text-decoration:hover {
  text-decoration: none !important;
}

nav {
  display: flex;
  flex-direction: column;
  width: 80%
}


.social-links {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  width: 300px;
}

.social-icon {
  color: var(--color-text);
  transition: color 0.2s ease-in-out;
}

.social-icon:hover {
  color: var(--color-header);
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

section {
  scroll-margin: 3rem; 
}

section h2 {
  margin-bottom: 0.35rem
}

section h3 {
  display: none;
}

@media (max-width: 1000px) {
  section h3 {
    display: block;
  }
}

:is(a, .event-base) .link-icon {
  transition: transform 0.2s ease-in-out;
}

:is(a, .event-base):hover .link-icon {
  transform: translateX(0.1rem) translateY(-0.1rem);
}

.link-arrow {
  margin-bottom: -0.2rem;
  margin-left: 0.1rem;
}

.link-more-info {
  margin-bottom: -0.1rem;
  margin-left: 0.3rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Events */

.events {
  display: flex;
  flex-direction: column;
  gap: 4.25rem;
}

.event-base {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  width: 100%;
}

.event-base h2 {
  transition: color 0.2s ease-in-out;
}
.event-base:hover h2 {
  color: var(--color-text-accent);
}

.event-thumbnail {
  flex: 0 0 25%;
  max-width: 25%;
}

.event-content {
  flex: 1 1 75%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event-content p, .event-content span {
  font-size: 0.85rem;
  line-height: 1.0rem;
}

.project-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.event-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.event-skill {
  background-color: var(--color-accent);
  padding: 0.4rem 0.7rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: bold;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.portfolio-subheading {
  margin-top: 1.2rem;
}

.portfolio-images {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.portfolio-images > img {
  width: 100%;
  /* margin-block: 1rem; */
}

.portfolio-image-capped {
  max-width: 500px;
}

.portfolio-image-capped-2 {
  max-width: 534px;
}

.portfolio-image-capped-3 {
  max-width: 240px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.portfolio-images .react-tweet-theme {
  margin-top: 0;
}